body{
    background-image:url(images/food.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000%;
    width=100% ;

}
.cons{
    font-family: lato;
    width: 100%;
    background-color: antiquewhite;
    overflow: auto;
    
}
.cons a{
     font-family: lato;
     float: left;
     padding: 12px;
     text-decoration: none;
     font-size: 27px;
     width: 10%;;
     color: blueviolet;
     text-align: center;
}

.cons a:hover{
    background-color: brown;
}

 .footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
     padding-bottom: 0%;
     background-color: sienna;

 }
